@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
* {
    margin: 1;
}

body {
    background-color: rgb(16, 52, 82);
    font-family: 'Fredericka the Great', cursive;
    color: rgb(123, 214, 209);
}

.heading {
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    color: rgb(123, 214, 209);
}
.footer {
    text-align: center;
}
.images {
    
}